<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template"
	xmlns:sec=https://www.thymeleaf.org/thymeleaf-extras-springsecurity5>

<head>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<meta charset="utf-8">
<title>Liste des Utilisateurs</title>
</head>
<body>
	<div layout:fragment="pageContent">
		<div class="container mt-5">
		
		Encheres
		
		</div>
	</div>
	
</body>
</html>