<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Formulaire utilisateur</title>
</head>
<body>
	<div layout:fragment="pageContent">
		<main
			class="container flex-grow-1 py-4 d-flex flex-column justify-content-center">
			<div class="card">
				<div class="card-header h5" th:if="${mode == 'create'}">Ajout
					utilisateur</div>
				<div class="card-header h5" th:if="${mode == 'modif'}">
					<span th:text="${'Modification utilisateur ' + user.user_id}"></span>
				</div>
				<div class="card-body">
					<form th:action="@{saveUser}" method="POST" th:object="${user}">
						<!-- 2 column grid layout with text inputs for the first and last names -->
						<div class="row mb-4 justify-content-around">
							<div class="col-12 col-lg-5">
								<h3>Info de connexion</h3>
								<div class="form-group" th:class="${#fields.hasErrors('username')}? has-error">
									<label class="form-label" for="pseudo">Pseudo</label> 
									<input type="text" id="username" name="username" class="form-control" placeholder="Pseudo" th:value="${user.username}"/>
								</div>
								<!-- Email input -->
								<div class="form-group" th:class="${#fields.hasErrors('email')}? has-error">
									<label class="form-label" for="email">Email</label> 
									<input type="email" id="email" name="email" class="form-control" placeholder="Email"  th:value="${user.email}"/>
										
								</div>
								<!-- Password input -->
								<div class="form-group">
									<label class="form-label" for="password">Mot de passe</label> <input
										type="password" id="password" name="password"
										placeholder="Mdp" class="form-control"  />
								</div>
								
								<!-- Verif Password -->
								<div class="form-group">
									<label class="form-label" for="verifPassword">Confirmation
									</label> 
									<input type="password" id="verifPassword" name="verifPassword" placeholder="Confirmer Mdp" class="form-control" />
									
								</div>
							</div>
							<div class="col-12 col-lg-5">
								<h3>Profile</h3>
								<div class="form-group">
									<label class="form-label" for="nom">Nom</label> <input
										type="text" id="nom" name="nom" class="form-control"
										placeholder="Nom"  th:value="${user.nom}"/>
								</div>
								<div class="form-group">
									<label class="form-label" for="prenom">Prénom</label> <input
										type="text" id="prenom" name="prenom" class="form-control"
										placeholder="Prénom"  th:value="${user.prenom}"/>
								</div>
								<!-- Phone input -->
								<div class="form-group">
									<label class="form-label" for="telephone">Téléphone</label> <input
										type="text" id="telephone" name="telephone"
										class="form-control" placeholder="N° de Téléphone"  th:value="${user.telephone}"/>
									
								</div>
								<h3>Adresse</h3>
								<!-- Rue input -->
								<div class="form-group">
									<label class="form-label" for="rue">N° et Rue</label> <input
										type="text" id="rue" name="rue" class="form-control"
										placeholder="numero et nom de la rue"  th:value="${user.rue}"/>
								</div>
								<!-- Code Postal input -->
								<div class="form-group">
									<label class="form-label" for="code_postal">Code postal</label>
									<input type="number" id="code_postal" name="code_postal"
										class="form-control" placeholder="00000"  th:value="${user.code_postal}"/>
								</div>
								<!-- Ville -->
								<div class="form-group">
									<label class="form-label" for="ville">Ville</label> <input
										type="text" id="ville" name="ville" class="form-control"
										placeholder="ville" th:value="${user.ville}" />
								</div>
							</div>
							<div class="row justify-content-center w-100 mt-5">
								<div class="col-12 col-lg-5">
									<!-- Submit button -->
									<button type="submit" class="btn btn-primary w-100">[[${mode == 'create' ? 'Créer' : 'Modifier'}]]</button>
								</div>
								<div class="col-12 col-lg-5">
									<!-- Submit button -->
									<a th:href=@{/} class="btn btn-primary w-100">Annuler</a>
								</div>
							</div>
						</div>
					</form>
				</div>
		</main>
	</div>
</body>
</html>