<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec=https://www.thymeleaf.org/thymeleaf-extras-springsecurity5>
<head>
<meta charset="utf-8">
<title>Gestion des Articles</title>


<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript"
	src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
</head>
<body>


	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" th:href="@{/}">ENCHERES-ENI</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" 
			 id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
<!-- LEFT PART MENU -->
				<li class="nav-item dropdown">
					<a
					class="nav-link dropdown-toggle" 
					href="#" id="navbarDropdown"
					role="button" 
					data-toggle="dropdown" 
					aria-haspopup="true"
					aria-expanded="false"> 
						Articles
					</a>
					<div class="dropdown-menu" 
						 aria-labelledby="navbarDropdown">
						<a sec:authorize="hasAnyRole('ADMIN', 'MEMBER')"
							class="dropdown-item" 
							th:href="@{createArticle}">
								Ajouter
						</a>
						<a
							class="dropdown-item" 
							th:href="@{/}">
							Lister
						</a>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link "
					   th:href="@{showUtilisateurs}">
					   Vendeurs
					</a>
				</li>
			</ul>
<!-- RIGHT PART MENU -->
			
			<ul class="navbar-nav ml-auto" >
				<li sec:authorize="!isAuthenticated()" 
					class="nav-item">
					<a class="nav-link" 
					   th:href="@{login}">
					   	Se connecter
				   	</a>
				</li>
				<li sec:authorize="!isAuthenticated()" 
					class="nav-item">
					<a class="nav-link" 
					   th:href="@{register}">
					   	S'inscrire
				   	</a>
				</li>

				<li sec:authorize="isAuthenticated()" 
					class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" 
					   href="#" id="navbardrop" 
					   data-toggle="dropdown">
						<span sec:authentication="name"></span> 
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						  <a sec:authorize="!isAuthenticated()" 
						  class="dropdown-item" 
						  th:href="@{login}">
						  		login
					  	  </a>
						<a class="dropdown-item" 
						   th:href="@{profil}">
						   		Mon profil
				   	    </a>
						<a class="dropdown-item" 
							th:href="@{logout}">
								Déconnexion
						</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>

	<section layout:fragment="pageContent"></section>
</body>
</html>